body
{
	/*
	background-color: grey;
	*/
	background-image: url(images/home_bg1.png);
}
h1
{
	color: Black;
	font-family: arial;
}
p
{
	color: green;
	font-family: courier_new;
	font-size: 160%
}